*{
    margin: 0;
    padding:0;
    
}


body{
    background-color: antiquewhite;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.text{
    color:blue;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 150px;
    justify-content: center;
}

#round{
    width: 250px;
    border-radius: 50%;
}

